<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="prev-text">
    <h1>Economics Ncert questions</h1>
    <table class="table prev-table">

    <tbody>
      
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='comparative' )}}'">COMPARATIVE DEVELOPMENT EXPERIENCE OF INDIA NCERT solutions</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='determination' )}}'">Determination of Income and Employment NCERT solutions</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='Employment' )}}'">EMPLOYMENT GROWTH AND OTHER ISSUES NCERT Solutions</button></td>
      </tr>
	<tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='Budget' )}}'">Government Budget and the Economy Ch-5 NCERT NCERT Solutions</button></td>
      </tr>
	<tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='capital' )}}'">HUMAN CAPITAL FORMATION IN INDIA  NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='economy' )}}'">INDIAN ECONOMY 1950-1990 NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='independence' )}}'">INDIAN ECONOMY ON THE EVE OF INDEPENDENCE  NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='macroeconomics' )}}'">Introductory Macroeconomics NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='privatization' )}}'">LIBERALIZATION, PRIVATIZATION AND GLOBALIZATION NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='money' )}}'">Money and Banking NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='aggregates' )}}'">National Income and Related Aggregates NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='poverty' )}}'">POVERTY NCERT Solutions</button></td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='rural' )}}'">RURAL DEVELOPMENT NCERT Solutions</button></td>
      </tr>
	<tr>     
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='Sustainability' )}}'">Environment and Sustainability NCERT Solutions</button></td>
      </tr>
      <tr>     
      <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EconomicsNcert_Class12',questions='Infrastructure' )}}'">Infrastructure NCERT Solution</button></td>
      </tr>
    
    </tbody>
  </table>
   <script src="{{ url_for('static',filename='extern.js') }}"></script>
  </body>
</html>
