<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="prev-text">
    <h1>English Study notes</h1>
    <table class="table prev-table">

    <tbody>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10', questions='Anne')}}'" >from the diary of Anne frank</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='glimpses' )}}'">glimpses of india</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='hundred' )}}'">hundred dresses 1</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='dresses' )}}'">HUNDRED dresses 2</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='god' )}}'">Letter to god</button></td>
      </tr>
 	<tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='Madam' )}}'">Madam Rides the bus</button></td>
      </tr>
	<tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='Nelson' )}}'">Nelson mandela</button></td>
      </tr>
	<tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='sermon' )}}'">sermon at benaras</button></td>
      </tr>
	<tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='proposal' )}}'">The proposal</button></td>
      </tr>
	<tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='flying' )}}'">two stories about flying</button></td>
      </tr>
     
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='feet' )}}'">Footprints without feet</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='hack' )}}'">Hack driver</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='making' )}}'">Making of a scientist</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='necklace' )}}'">Necklace</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='story' )}}'">Thiefs story</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='truimph' )}}'">Triumph of Surgery</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='amanda' )}}'">Amanda</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='animals' )}}'">Animals</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='ball' )}}'">Ball poem</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='dust' )}}'">dust of snow</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='ice' )}}'">Fire and Ice</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='custard' )}}'">Tale of Custard the Dragon</button></td>
      </tr>
       <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='zoo' )}}'">Tiger in a zoo</button></td>
      </tr>
        <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('EnglishImpClass10',questions='bholi' )}}'">bholi</button></td>
      </tr>

    </tbody>
  </table>
   <script src="{{ url_for('static',filename='extern.js') }}"></script>
  </body>
</html>
