<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="prev-text">
    <h1>Political Science Ncert questions</h1>
    <table class="table prev-table">

    <tbody>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII', questions='Chapter-1')}}'" >Book1 Chapter1</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='2' )}}'">Book1 Chapter2</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='3' )}}'">Book1 Chapter3</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='4' )}}'">Book1 Chapter4</button></td>
      </tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='5' )}}'">Book1 Chapter5</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='6' )}}'">Book1 Chapter6</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='7' )}}'">Book1 Chapter7</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='8' )}}'">Book1 Chapter8</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='9' )}}'">Book1 Chapter9</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='10' )}}'">Book2 Chapter1</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='11' )}}'">Book2 Chapter2</button></td>
	</tr>

	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='12' )}}'">Book2 Chapter3</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='13' )}}'">Book2 Chapter4</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='14' )}}'">Book2 Chapter5</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='15' )}}'">Book2 Chapter6</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='16' )}}'">Book2 Chapter7</button></td>
	</tr>
	<tr>
            <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('politicalncertXII',questions='17' )}}'">Book2 Chapter8</button></td>
	</tr>
    </tbody>
  </table>
   <script src="{{ url_for('static',filename='extern.js') }}"></script>
  </body>
</html>
