<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="prev-text">
    <h1>Political Science Previous Year exam</h1>
    <table class="table prev-table">

    <tbody>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2015 )}}'" >2015</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2016 )}}'">2016</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2017 )}}'">2017</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2018 )}}'">2018</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2019 )}}'">2019</button></td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light btn-prev" onclick="window.location.href='{{url_for('previousyr12',year=2020 )}}'">2020</button></td>
      </tr>
    </tbody>
  </table>
   <script src="{{ url_for('static',filename='extern.js') }}"></script>
  </body>
</html>
